<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a routerLink="/admin/dashbroad" *ngIf="admin"><i class="menu-icon fa fa-laptop"></i>{{ admin.username }} </a>
                </li>
                <li class="active">
                    <a routerLink="/admin/dashbroad" *ngIf="admin"><i class="fa fa-bar-chart-o"></i> TỔNG QUAN </a>
                </li>
                <ng-container *ngIf="!admin">
                    <li class="menu-title">QUẢN LÝ</li><!-- /.menu-title -->
                    <!-- <li><a routerLink="#"><i class="menu-icon fa fa-table"></i> Sản Phẩm </a></li>
                    <li><a href="#"><i class="menu-icon fa fa-table"></i> Loại Hàng </a></li>
                    <li><a href="#"><i class="menu-icon fa fa-table"></i> Đơn Hàng </a></li>
                    <li><a routerLink="#"><i class="menu-icon fa fa-table"></i> Thương Hiệu </a></li>
                    <li><a routerLink="#"><i class="menu-icon fa fa-table"></i> Tin Tức </a></li>
                    <li><a routerLink="#"><i class="menu-icon fa fa-table"></i> Ảnh </a></li> -->
                </ng-container>
                <ng-container *ngIf="admin">
                    <li><a routerLink="/admin/product-admin"><i class="menu-icon fa fa-table"></i> Sản Phẩm </a></li>
                    <li><a href="/admin/category-admin"><i class="menu-icon fa fa-table"></i> Loại Hàng </a></li>
                    <li><a href="widgets.html"><i class="menu-icon fa fa-table"></i> Đơn Hàng </a></li>
                    <li><a routerLink="/admin/customer"><i class="menu-icon fa fa-table"></i> Khách Hàng </a></li>
                    <li><a routerLink="/admin/brand-admin"><i class="menu-icon fa fa-table"></i> Thương Hiệu </a></li>
                    <li><a routerLink="/admin/blog-admin"><i class="menu-icon fa fa-table"></i> Tin Tức </a></li>
                    <li><a routerLink="/admin/UploadImage"><i class="menu-icon fa fa-table"></i> Ảnh </a></li>
                </ng-container>
                
                
                <li class="menu-title" *ngIf="!admin">Xin Chào</li>
                <li class="menu-title" *ngIf="admin">Xin Chào</li>

                <li >
                    <a routerLink="/login-admin" *ngIf="!admin"> <i class="fa fa-sign-in" ></i> Đăng Nhập </a>
                </li>
                <li >
                    <a routerLink="#" *ngIf="admin"> 
                        <i class="fa fa-sign-in"></i> 
                        {{ admin.username }} 
                    </a>
                </li>
                <li >
                    <a routerLink="#" *ngIf="admin" (click)="onLogout()">
                        <i class="fa fa-sign-in"></i> 
                        LogOut
                    </a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>
<!-- /#left-panel -->