<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">{{ Title }} </h4>
                </div>
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th class="avatar">Tên </th>
                                    <th>Ảnh</th>
                                    <th>Xóa </th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr *ngFor="let all of allimage | paginate: { itemsPerPage: 5, currentPage: p }"  class=" pb-0">
                                    
                                    <td class="serial">{{ all.filename }}</td>
                                    <td class="avatar">
                                        <div class="round-img">
                                            <img [src]="getProductImageUrl(all.filename)" alt="{{ all.filename}}" />
                                            
                                        </div>
                                    </td>
                                    <td>
                                       <span>
                                            <a href="javascript:void(0)">
                                                <button type="button" class="btn btn-danger" (click)="onDelete(all.filename)">Xóa</button>
                                            </a>
                                        </span> 
                                    </td>
                                </tr>
                                
                                
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="12">
                                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div> <!-- /.table-stats -->
                </div>
            </div> <!-- /.card -->
        </div>  <!-- /.col-lg-8 -->

        
    </div>
</div>
