<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <strong>{{ Title }}</strong> 
        </div>
        
        <div class="card-body card-block">
            <form  class="form-horizontal" [formGroup]="profileForm" (ngSubmit)="onSubmit()" >

                <div class="row form-group">
                    <div class="col col-md-3"><label for="title" class=" form-control-label">Title </label></div>
                    <div class="col-12 col-md-9"><input type="text" id="title" name="title" placeholder="Nhập tên title" class="form-control"  formControlName="title"></div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3"><label for="content" class=" form-control-label">Content</label></div>
                    <div class="col-12 col-md-9"><textarea name="content" id="content" rows="9" placeholder="Mô tả mới..." class="form-control"  formControlName="content"></textarea></div>
                </div>
                
                <div class="row form-group">
                    <div class="col col-md-3"><label for="image_url" class="form-control-label">File Ảnh</label></div>
                    <div class="col-12 col-md-9">
                        <input type="file" id="image_url" name="image_url" class="form-control-file" required (change)="onFileChange($event)" enctype="multipart/form-data" >
                        <img [src]="preview" class="w-50" alt="">
                    </div>
                </div>
                
            
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <input type="submit" class="btn btn-success" value="Submit">
                    </button>
                </div>
                
  
            </form>
        </div>
        
    </div>
</div>

  
