<div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <strong>{{ Title }}</strong>
      </div>
  
      <div class="card-body card-block">
        <form class="form-horizontal" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  
          <div class="row form-group">
            <div class="col col-md-3"><label for="name" class="form-control-label">Tên </label></div>
            <div class="col-12 col-md-9">
              <input type="text" id="name" name="name" placeholder="nhập tên " class="form-control" formControlName="name">
              <div *ngIf="profileForm.get('name')?.invalid && profileForm.get('name')?.touched" class="text-danger">
                Tên là bắt buộc!
              </div>
            </div>
          </div>
  
          <div class="row form-group">
            <div class="col col-md-3"><label for="address" class="form-control-label">Địa Chỉ</label></div>
            <div class="col-12 col-md-9">
              <textarea type="text" name="address" id="address" rows="2" placeholder="Nhập Địa chỉ" class="form-control" formControlName="address"></textarea>
              <div *ngIf="profileForm.get('address')?.invalid && profileForm.get('address')?.touched" class="text-danger">
                Địa chỉ bắt buộc!
              </div>
            </div>
          </div>
  
          <div class="row form-group">
            <div class="col col-md-3"><label for="phone" class="form-control-label">Số Điện Thoại</label></div>
            <div class="col-12 col-md-9">
              <input type="number" name="phone" id="phone" placeholder="Nhập số liên lạc" class="form-control" formControlName="phone">
              <div *ngIf="profileForm.get('phone')?.invalid && profileForm.get('phone')?.touched" class="text-danger">
                Số điện thoại cần hợp lệ!
              </div>
            </div>
          </div>
  
          <div class="row form-group">
            <div class="col col-md-3"><label for="email" class="form-control-label">Email</label></div>
            <div class="col-12 col-md-9">
              <input type="email" name="email" id="email" placeholder="Nhập Email" class="form-control" formControlName="email">
              <div *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched" class="text-danger">
                Cần có email hợp lệ!
              </div>
            </div>
          </div>
  
          <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-sm">
                <input type="submit" class="btn btn-success" value="Submit">
            </button>
            </div>
  
        </form>
      </div>
  
    </div>
  </div>
  