<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <strong>{{ Title }}</strong> 
        </div>
        
        <div class="card-body card-block">
            <form  class="form-horizontal" method="PUT" [formGroup]="profileForm" (ngSubmit)="onSubmit()" >

                <div class="row form-group">
                    <div class="col col-md-3"><label for="category_name" class=" form-control-label">Tên loại </label></div>
                    <div class="col-12 col-md-9"><input type="text" id="category_name" name="category_name" placeholder="Nhập tên loại hàng" class="form-control"  formControlName="category_name"></div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">
                        <input type="submit" class="btn btn-success" value="Gửi">
                    </button>
                </div>
            </form>
        </div>
        
    </div>
</div>

  

