
<!-- CONTENT -->
<div class="content">
    <!-- Animated -->
    <div class="animated fadeIn">
        <!-- Widgets  -->
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-1">
                                <i class="pe-7s-cash"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text">vnd<span class="count">200000</span></div>
                                    <div class="stat-heading">Doanh Thu</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-2">
                                <i class="pe-7s-cart"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">20000</span></div>
                                    <div class="stat-heading">Đơn Hàng</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-3">
                                <i class="pe-7s-browser"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">349</span></div>
                                    <div class="stat-heading">Mẫu</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-five">
                            <div class="stat-icon dib flat-color-4">
                                <i class="pe-7s-users"></i>
                            </div>
                            <div class="stat-content">
                                <div class="text-left dib">
                                    <div class="stat-text"><span class="count">2986</span></div>
                                    <div class="stat-heading">Khách Hàng</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Widgets -->
        <!--  Traffic  -->  
       
        <!--  /Traffic -->
        <div class="clearfix"></div>
        <!-- Orders -->
        <div class="orders" *ngIf="admin">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card"  >
                        <div class="card-body">
                            <h4 class="box-title">Đơn Hàng </h4>
                        </div>
                        <div class="card-body--">
                            <div class="table-stats order-table ov-h">
                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <!-- <th class="serial">STT</th> -->
                                            <th class="avatar">Hình Ảnh</th>
                                            <th>Tên sản phẩm</th>
                                            <th>Giá sản phẩm </th>
                                            <th>brand</th>
                                            <th>Trạng thái đơn hàng</th>
                                            <th>Ngày đặt</th>
                                            <th>Số lượng</th>
                                            <th>Tổng tiền </th>
                                            <th>Kiểm tra </th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr class=" pb-0" *ngFor="let all of orders | paginate: { itemsPerPage: 5, currentPage: p }" >
                                            
                                            <td class="avatar pb-0">
                                                <div class="round-img">
                                                    <a href="#">
                                                        <img [src]="getProductImageUrl(all.product_image)" alt="{{ all.product_image}}" />
                                                    </a>
                                                </div>
                                            </td>
                                            <td> {{ all.product_name }} </td>
                                            <td>  <span class="price">{{ all.product_price }}</span> </td>
                                            <td> <span class="brand">{{ all.brand }}</span> </td>
                                            <td> <span class="status ">{{ all.order_status }}</span> </td>
                                            <td> <span class="order_date">{{ all.order_date }}</span> </td>
                                            <td><span class="quanlity">{{ all.order_quantity }}</span></td>
                                            <td><span class="quanlity">{{ all.total_price }}</span></td>

                                            <td>
                                                <span class="badge badge-complete">View</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="12">
                                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div> <!-- /.table-stats -->
                        </div>
                    </div> <!-- /.card -->
                </div>  <!-- /.col-lg-8 -->

                
            </div>
        </div>
        <div class="orders" *ngIf="!admin">
            
        </div>
        <!-- /.orders -->
       

        <!-- /Calender Chart Weather -->
        
        
    </div>
    <!-- .animated -->
</div>