<div class="orders">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title"> </h4>
                </div>
                <div class="card-body">
                    <a routerLink="/admin/add-customer">
                        <button class="btn btn-primary"  >
                            Thêm
                            <i class="fa fa-plus-square"></i>
                        </button> 
                    </a>
                </div>
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Sản phẩm</th>
                                    <th>Ảnh</th>
                                    <th>Tên khách hàng </th>
                                    <th>Số Điện Thoại</th>
                                    <th>Eamil khách</th>
                                    <th>Ngày đặt</th>
                                    <th>Địa chỉ nhận hàng</th>
                                    <th>Tiền</th>
                                    <th>Trạng thái </th>
                                    <th>Chức năng </th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr  class=" pb-0" *ngFor="let all of allorder| paginate: { itemsPerPage: 5, currentPage: p } ; let i=index">
                                    <td class="serial">{{ i+1 }}</td>
                                    <td>  <span class="brand">{{ all.product_name }}</span> </td>
                                    <td class="avatar pb-0">
                                        <div class="round-img">
                                            <a href="#">
                                                <img [src]="getProductImageUrl(all.product_image)" alt="{{ all.product_image}}" />
                                            </a>
                                        </div>
                                    </td>
                                    <td >{{ all.customer_name }}</td>
                                    <td >{{ all.customer_phone }}</td>
                                    <td> {{ all.customer_email }} </td>
                                    <td> <span class="fragrance_family">{{ all.order_date  | date:'dd/MM/yyyy' }}</span> </td>
                                    <td> <span class="fragrance_family">{{ all.shipAddress }}</span> </td>
                                    <td> <span class="fragrance_family">{{ all.price | number:'1.0-0' }}vnd</span> </td>
                                    <td>
                                        <span class="fragrance_family">{{ all.order_status }}</span>
                                    </td>   
                                    <td> 
                                        <button *ngIf="showConfirmOrder" type="button" class="badge badge-complete" (click)="confirmOrder(all.order_id)">Xác nhận</button>
                                        <button *ngIf="showCancelOrder" type="button" class="badge badge-complete" (click)="cancelOrder(all.order_id)">Hủy</button>
                                    </td>                              
                                </tr>
                                
                                
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="12">
                                        <pagination-controls ></pagination-controls>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div> <!-- /.table-stats -->
                </div>
            </div> <!-- /.card -->
        </div>  <!-- /.col-lg-8 -->

        
    </div>
</div>
