
    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--white">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Thanh Toán</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a routerLink="/">Home</a></li>
                                    <li><a routerLink="/shop">Shop</a></li>
                                    <li class="active" aria-current="page">Thanh Toán</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Checkout Section:::... -->
    <div class="checkout-section">
        <div class="container">
            <div class="row">
                
            </div>
            <!-- Start User Details Checkout Form -->
            <div class="checkout_form" data-aos="fade-up"  data-aos-delay="400">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <form  (ngSubmit)="onSubmit()" >
                            <h3>Chi tiết thông tin người dùng </h3>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="default-form-box" >
                                        <label >Tên<span>*</span></label>
                                        <input type="text" id="name" [value]="account.name">
                                    </div>
                                </div>             
                                <div class="col-6">
                                    <div class="default-form-box">
                                        <label for="country">Địa chỉ <span>*</span></label>
                                        <input type="text" [value]="account.address">
                                    </div>
                                </div>
                                
                                <div class="col-lg-6">
                                    <div class="default-form-box">
                                        <label>Điện thoại<span>*</span></label>
                                        <input type="text" [value]="account.phone">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="default-form-box">
                                        <label> Email <span>*</span></label>
                                        <input type="text" [value]="account.email"> 
                                    </div>
                                </div>   
                                <div class="col-lg-12">
                                    <div class="default-form-box">
                                        <label for="shippingAddress">Địa chỉ nhận hàng <span>*</span></label>
                                        <input type="text" id="shippingAddress" name="shippingAddress" [(ngModel)]="shippingAddress">
                                    </div>
                                </div>
                            </div>
                            <h3>Đơn hàng của bạn</h3>
                            <div class="order_table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Ảnh</th>
                                            <th>sản phẩm</th>
                                            <th>Số lượng</th>
                                            <th>Tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor=" let cart of carts">
                                            <td>
                                                <img [src]="getProductImageUrl(cart.img)" alt="{{ cart.name}}"  style="height: 50px;"/>
                                           </td>
                                            <td> ${{ cart.name }} </td>
                                            <td> {{ cart.quantity }}</td>
                                            <td> ${{ cart.price }}</td>
                                        </tr>
                                        
                                    </tbody>
                                    <tfoot>
                                        <tr >
                                            <th>Tiền</th>
                                            <td >${{ totalPrice }}.00</td>
                                        </tr>
                                        <tr>
                                            <th>Tiền ship</th>
                                            <td><strong>${{ ship }}.00</strong></td>
                                        </tr>
                                        <tr class="order_total">
                                            <th>Tổng tiền</th>
                                            <td ><strong>${{ totalOrder }}.00</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                                
                            </div>
                            <div class="payment_method">
                                <div class="panel-default">
                                    <label class="checkbox-default" for="currencyPaypal" data-bs-toggle="collapse" data-bs-target="#methodPayment">
                                        <input type="checkbox" id="currencyPaypal">
                                        <span>Thanh Toán Online</span>
                                    </label>
                                    <div id="methodPayment" value="Chọn Phương thức thanh toán" class="collapse" data-parent="#methodPayment">
                                        <select class="form-select" id="paymentMethod" [(ngModel)]="selectedPaymentMethod">
                                            <option value="VNPAY">Thanh toán VNPAY</option>
                                            <option value="MOMO">Thanh toán MOMO</option>
                                            <option value="COD">Thanh toán COD</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="order_button pt-3">
                                    <button class="btn btn-md btn-black-default-hover" type="submit" >Thanh Toán</button>
                                    
                                </div>
                            </div>
                            
                        </form>
                        
                    </div>
                </div>
            </div> <!-- Start User Details Checkout Form -->
        </div>
    </div><!-- ...:::: End Checkout Section:::... -->

